<div class="portfolio container">
    <h2>Портфолио<span class="s">s</span></h2>
    <ul class="bxslider">

        <li><a class="withImage" target="_blank" href="http://angarsk-kedr.ru/"
               title='Пиломатериалы "Ангарск-Кедр"'><img
                        src="{{ asset('assets/img/portfolio/angarsk-kedr/angarsk-kedr.png') }}"
                        alt='Пиломатериалы "Ангарск-Кедр"' title='Пиломатериалы "Ангарск-Кедр"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/angarsk-kedr/angarsk-kedr_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://arab-new.ru/"
               title='Новостной портал "ArabNew"'><img
                        src="{{ asset('assets/img/portfolio/arab-new/arab-new.png') }}"
                        alt='Новостной портал "ArabNew"' title='Новостной портал "ArabNew"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/arab-new/arab-new_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://astreya-konsalting.ru/"
               title='Консалтинговый центр "Астрея"'><img
                        src="{{ asset('assets/img/portfolio/astreya/astreya.png') }}"
                        alt='Консалтинговый центр "Астрея"' title='Консалтинговый центр "Астрея"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/astreya/astreya_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://ateza.ru/"
               title='Туристический портал "Атеза"'><img
                        src="{{ asset('assets/img/portfolio/ateza/ateza.png') }}"
                        alt='Туристический портал "Атеза"' title='Туристический портал "Атеза"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/ateza/ateza_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://color.beatsmagaz.ru/"
               title='Интернет-магазин наушников "Beats"'><img
                        src="{{ asset('assets/img/portfolio/beats/beats.png') }}"
                        alt='Интернет-магазин наушников "Beats"' title='Интернет-магазин наушников "Beats"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/beats/beats_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="#" title='Свадебные платья'><img
                        src="{{ asset('assets/img/portfolio/dreambride/dreambride.png') }}"
                        alt='Свадебные платья' title='Свадебные платья'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/dreambride/dreambride_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://eco-korma.ru/" title='Эко-корма для животных'><img
                        src="{{ asset('assets/img/portfolio/eco-korma/eco-korma.png') }}"
                        alt='Эко-корма для животных' title='Эко-корма для животных'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/eco-korma/eco-korma_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://vladimir.egoza33.ru/"
               title='Мобильная студия красоты "EgoZa"'><img
                        src="{{ asset('assets/img/portfolio/egoza/egoza.png') }}"
                        alt='Мобильная студия красоты "EgoZa"' title='Мобильная студия красоты "EgoZa"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/egoza/egoza_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://fotosoup.ru/" title='Продажа фотообоев'><img
                        src="{{ asset('assets/img/portfolio/fotosoup/fotosoup.png') }}" alt='Продажа фотообоев'
                        title='Продажа фотообоев'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/fotosoup/fotosoup_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="" title='Интернет-магазин "ГигМебели"'><img
                        src="{{ asset('assets/img/portfolio/gigmebeli/gigmebeli.png') }}"
                        alt='Интернет-магазин "ГигМебели"' title='Интернет-магазин "ГигМебели"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/gigmebeli/gigmebeli_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://www.globalcircus.com/" title='Авторский цирк'><img
                        src="{{ asset('assets/img/portfolio/globalcircus/globalcircus.png') }}"
                        alt='Авторский цирк' title='Авторский цирк'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/globalcircus/globalcircus_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://hlv-vladimir.colornew.ru/"
               title='Рекламное агенство "Халява"'><img
                        src="{{ asset('assets/img/portfolio/halyava/halyava.png') }}"
                        alt='Рекламное агенство "Халява"' title='Рекламное агенство "Халява"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/halyava/halyava_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://igrazooma.ru/" title='Умные игры "ИграЗума"'><img
                        src="{{ asset('assets/img/portfolio/igrazooma/igrazooma.png') }}"
                        alt='Умные игры "ИграЗума"' title='Умные игры "ИграЗума"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/igrazooma/igrazooma_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://kitejtelecom.ru/"
               title='Интернет-провайдер "Китеж Телеком"'><img
                        src="{{ asset('assets/img/portfolio/kitej/kitej.png') }}"
                        alt='Интернет-провайдер "Китеж Телеком"' title='Интернет-провайдер "Китеж Телеком"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/kitej/kitej_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://lestnicev.ru/"
               title='Проектирование и изготовление лестниц'><img
                        src="{{ asset('assets/img/portfolio/lestnicev/lestnicev.png') }}"
                        alt='Проектирование и изготовление лестниц'
                        title='Проектирование и изготовление лестниц'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/lestnicev/lestnicev_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://mebel-city.su/"
               title='Фабрика мягкой мебели "Мебель-сити"'><img
                        src="{{ asset('assets/img/portfolio/mebel-city/mebel-city.png') }}"
                        alt='Фабрика мягкой мебели "Мебель-сити"' title='Фабрика мягкой мебели "Мебель-сити"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/mebel-city/mebel-city_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://meshera-master.ru/"
               title='Строительство деревянных домов "Мещёра Мастер"'><img
                        src="{{ asset('assets/img/portfolio/meshera-master/meshera-master.png') }}"
                        alt='Строительство деревянных домов "Мещёра Мастер"'
                        title='Строительство деревянных домов "Мещёра Мастер"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/meshera-master/meshera-master_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://mishkioptom.ru/"
               title='Фабрика мягких игрушек "Плюшевая сказка"'><img
                        src="{{ asset('assets/img/portfolio/mishki/mishki.png') }}"
                        alt='Фабрика мягких игрушек "Плюшевая сказка"'
                        title='Фабрика мягких игрушек "Плюшевая сказка"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/mishki/mishki_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://phosphor-russia.ru/"
               title='Магазин часов "Phosphor"'><img
                        src="{{ asset('assets/img/portfolio/phosphor/phosphor.png') }}"
                        alt='Магазин часов Phosphor' title='Магазин часов "Phosphor"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/phosphor/phosphor_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://xn---33-5cdab6a9beqekg8am4e.xn--p1ai/"
               title='Салон красоты "Планета солнца"'><img
                        src="{{ asset('assets/img/portfolio/planetasolnca/planetasolnca.png') }}"
                        alt='Салон красоты "Планета солнца"' title='Салон красоты "Планета солнца"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/planetasolnca/planetasolnca_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://printeria33.ru/"
               title='Ремонт офисной техники'><img
                        src="{{ asset('assets/img/portfolio/printeria33/printeria33.png') }}"
                        alt='Ремонт офисной техники' title='Ремонт офисной техники'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/printeria33/printeria33_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://ros-lift.ru/" title='ООО "Рослифт"'><img
                        src="{{ asset('assets/img/portfolio/ros-lift/ros-lift.png') }}" alt='ООО "Рослифт"'
                        title='ООО "Рослифт"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/ros-lift/ros-lift_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://smrstroy.ru/"
               title='Строительная компания "СМР-строй"'><img
                        src="{{ asset('assets/img/portfolio/smr/smr.png') }}"
                        alt='Строительная компания "СМР-строй"' title='Строительная компания "СМР-строй"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/smr/smr_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://stroy-swyaz33.colornew.ru/"
               title='Аренда спецавтотехники "Строй-связь"'><img
                        src="{{ asset('assets/img/portfolio/stroy-swyaz33/stroy-swyaz33.png') }}"
                        alt='Аренда спецавтотехники "Строй-связь"' title='Аренда спецавтотехники "Строй-связь"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/stroy-swyaz33/stroy-swyaz33_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://vip-yurist.colornew.ru/"
               title='Юридическая компания "VIP-юрист"'><img
                        src="{{ asset('assets/img/portfolio/vip-yurist/vip-yurist.png') }}"
                        alt='Юридическая компания "VIP-юрист"' title='Юридическая компания "VIP-юрист"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/vip-yurist/vip-yurist_h.png') }}) center no-repeat;'"></div>
            </a></li>

        <li><a class="withImage" target="_blank" href="http://yagoda33.ru/" title='РПФ "Ягода"'><img
                        src="{{ asset('assets/img/portfolio/yagoda/yagoda.png') }}" alt='РПФ "Ягода"'
                        title='РПФ "Ягода"'>

                <div class="abc"
                     style="background:url({{ asset('assets/img/portfolio/yagoda/yagoda_h.png') }}) center no-repeat;'"></div>
            </a></li>

    </ul>
</div>