{% extends 'default/index.html.twig' %}
{% block content %}
    {% block banner %}
        <!--~~~~~~~~~~~~~~~~~banner~~~~~~~~~~~~~~~~~-->
        <div class="banner banner_home banner_big"
             style="background: url({{ jpegoptim('assets/img/banners/home_colornew.jpg') }}) top no-repeat;">
            <div class="container">
                <div class="banner_content">
                    <h2>Предложение для клиентов</h2>

                    <p>Специальное предложение для всех клиентов Интернет-студии «ColorNew»! </p>

                    <p>Вы выбираете тип сайта (визитка, корпоративный, интернет-магазин)<br/>
                        и заказываете его продвижение;</p>

                    <p>В зависимости от выбранного типа сайта, Вам предоставляется<br/>
                        скидка на его разработку (номинал скидки указан ниже);</p>

                    <p>Вы получаете новых клиентов и «отбиваете» стоимость сайта;</p>
                    <a href="" class="btn-podrobnee">Узнать подробнее</a>
                </div>
            </div>
        </div>
        <div class="banner banner_home banner_small">
            <div class="container">
                <div class="banner_content">
                    <h2>Предложение для клиентов</h2>

                    <p>Специальное предложение для всех клиентов Интернет-студии «ColorNew»! </p>

                    <p>Вы выбираете тип сайта (визитка, корпоративный, интернет-магазин)<br/>
                        и заказываете его продвижение;</p>

                    <p>В зависимости от выбранного типа сайта, Вам предоставляется<br/>
                        скидка на его разработку (номинал скидки указан ниже);</p>

                    <p>Вы получаете новых клиентов и «отбиваете» стоимость сайта;</p>
                    <a href="" class="btn-podrobnee">Узнать подробнее</a>
                </div>
            </div>
        </div>
        <!--~~~~~~~~~~~~~~~~~/banner~~~~~~~~~~~~~~~~~-->
    {% endblock %}

    {% block portfolio %}
        <!--~~~~~~~~~~~~~~~~~portfolio~~~~~~~~~~~~~~~~~-->
        <div class="portfolio container">
            <h2>Портфолио<span class="s">s</span></h2>
            <ul class="bxslider">

                <li><a class="withImage" target="_blank" href="http://angarsk-kedr.ru/"
                       title='Пиломатериалы "Ангарск-Кедр"'><img
                                src="{{ asset('assets/img/portfolio/angarsk-kedr/angarsk-kedr.png') }}"
                                alt='Пиломатериалы "Ангарск-Кедр"' title='Пиломатериалы "Ангарск-Кедр"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/angarsk-kedr/angarsk-kedr_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://arab-new.ru/"
                       title='Новостной портал "ArabNew"'><img
                                src="{{ asset('assets/img/portfolio/arab-new/arab-new.png') }}"
                                alt='Новостной портал "ArabNew"' title='Новостной портал "ArabNew"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/arab-new/arab-new_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://astreya-konsalting.ru/"
                       title='Консалтинговый центр "Астрея"'><img
                                src="{{ asset('assets/img/portfolio/astreya/astreya.png') }}"
                                alt='Консалтинговый центр "Астрея"' title='Консалтинговый центр "Астрея"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/astreya/astreya_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://ateza.ru/"
                       title='Туристический портал "Атеза"'><img
                                src="{{ asset('assets/img/portfolio/ateza/ateza.png') }}"
                                alt='Туристический портал "Атеза"' title='Туристический портал "Атеза"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/ateza/ateza_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://color.beatsmagaz.ru/"
                       title='Интернет-магазин наушников "Beats"'><img
                                src="{{ asset('assets/img/portfolio/beats/beats.png') }}"
                                alt='Интернет-магазин наушников "Beats"' title='Интернет-магазин наушников "Beats"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/beats/beats_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="#" title='Свадебные платья'><img
                                src="{{ asset('assets/img/portfolio/dreambride/dreambride.png') }}"
                                alt='Свадебные платья' title='Свадебные платья'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/dreambride/dreambride_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://eco-korma.ru/" title='Эко-корма для животных'><img
                                src="{{ asset('assets/img/portfolio/eco-korma/eco-korma.png') }}"
                                alt='Эко-корма для животных' title='Эко-корма для животных'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/eco-korma/eco-korma_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://vladimir.egoza33.ru/"
                       title='Мобильная студия красоты "EgoZa"'><img
                                src="{{ asset('assets/img/portfolio/egoza/egoza.png') }}"
                                alt='Мобильная студия красоты "EgoZa"' title='Мобильная студия красоты "EgoZa"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/egoza/egoza_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://fotosoup.ru/" title='Продажа фотообоев'><img
                                src="{{ asset('assets/img/portfolio/fotosoup/fotosoup.png') }}" alt='Продажа фотообоев'
                                title='Продажа фотообоев'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/fotosoup/fotosoup_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="" title='Интернет-магазин "ГигМебели"'><img
                                src="{{ asset('assets/img/portfolio/gigmebeli/gigmebeli.png') }}"
                                alt='Интернет-магазин "ГигМебели"' title='Интернет-магазин "ГигМебели"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/gigmebeli/gigmebeli_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://www.globalcircus.com/" title='Авторский цирк'><img
                                src="{{ asset('assets/img/portfolio/globalcircus/globalcircus.png') }}"
                                alt='Авторский цирк' title='Авторский цирк'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/globalcircus/globalcircus_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://hlv-vladimir.colornew.ru/"
                       title='Рекламное агенство "Халява"'><img
                                src="{{ asset('assets/img/portfolio/halyava/halyava.png') }}"
                                alt='Рекламное агенство "Халява"' title='Рекламное агенство "Халява"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/halyava/halyava_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://igrazooma.ru/" title='Умные игры "ИграЗума"'><img
                                src="{{ asset('assets/img/portfolio/igrazooma/igrazooma.png') }}"
                                alt='Умные игры "ИграЗума"' title='Умные игры "ИграЗума"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/igrazooma/igrazooma_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://kitejtelecom.ru/"
                       title='Интернет-провайдер "Китеж Телеком"'><img
                                src="{{ asset('assets/img/portfolio/kitej/kitej.png') }}"
                                alt='Интернет-провайдер "Китеж Телеком"' title='Интернет-провайдер "Китеж Телеком"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/kitej/kitej_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://lestnicev.ru/"
                       title='Проектирование и изготовление лестниц'><img
                                src="{{ asset('assets/img/portfolio/lestnicev/lestnicev.png') }}"
                                alt='Проектирование и изготовление лестниц'
                                title='Проектирование и изготовление лестниц'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/lestnicev/lestnicev_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://mebel-city.su/"
                       title='Фабрика мягкой мебели "Мебель-сити"'><img
                                src="{{ asset('assets/img/portfolio/mebel-city/mebel-city.png') }}"
                                alt='Фабрика мягкой мебели "Мебель-сити"' title='Фабрика мягкой мебели "Мебель-сити"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/mebel-city/mebel-city_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://meshera-master.ru/"
                       title='Строительство деревянных домов "Мещёра Мастер"'><img
                                src="{{ asset('assets/img/portfolio/meshera-master/meshera-master.png') }}"
                                alt='Строительство деревянных домов "Мещёра Мастер"'
                                title='Строительство деревянных домов "Мещёра Мастер"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/meshera-master/meshera-master_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://mishkioptom.ru/"
                       title='Фабрика мягких игрушек "Плюшевая сказка"'><img
                                src="{{ asset('assets/img/portfolio/mishki/mishki.png') }}"
                                alt='Фабрика мягких игрушек "Плюшевая сказка"'
                                title='Фабрика мягких игрушек "Плюшевая сказка"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/mishki/mishki_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://phosphor-russia.ru/"
                       title='Магазин часов "Phosphor"'><img
                                src="{{ asset('assets/img/portfolio/phosphor/phosphor.png') }}"
                                alt='Магазин часов Phosphor' title='Магазин часов "Phosphor"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/phosphor/phosphor_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://xn---33-5cdab6a9beqekg8am4e.xn--p1ai/"
                       title='Салон красоты "Планета солнца"'><img
                                src="{{ asset('assets/img/portfolio/planetasolnca/planetasolnca.png') }}"
                                alt='Салон красоты "Планета солнца"' title='Салон красоты "Планета солнца"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/planetasolnca/planetasolnca_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://printeria33.ru/"
                       title='Ремонт офисной техники'><img
                                src="{{ asset('assets/img/portfolio/printeria33/printeria33.png') }}"
                                alt='Ремонт офисной техники' title='Ремонт офисной техники'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/printeria33/printeria33_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://ros-lift.ru/" title='ООО "Рослифт"'><img
                                src="{{ asset('assets/img/portfolio/ros-lift/ros-lift.png') }}" alt='ООО "Рослифт"'
                                title='ООО "Рослифт"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/ros-lift/ros-lift_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://smrstroy.ru/"
                       title='Строительная компания "СМР-строй"'><img
                                src="{{ asset('assets/img/portfolio/smr/smr.png') }}"
                                alt='Строительная компания "СМР-строй"' title='Строительная компания "СМР-строй"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/smr/smr_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://stroy-swyaz33.colornew.ru/"
                       title='Аренда спецавтотехники "Строй-связь"'><img
                                src="{{ asset('assets/img/portfolio/stroy-swyaz33/stroy-swyaz33.png') }}"
                                alt='Аренда спецавтотехники "Строй-связь"' title='Аренда спецавтотехники "Строй-связь"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/stroy-swyaz33/stroy-swyaz33_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://vip-yurist.colornew.ru/"
                       title='Юридическая компания "VIP-юрист"'><img
                                src="{{ asset('assets/img/portfolio/vip-yurist/vip-yurist.png') }}"
                                alt='Юридическая компания "VIP-юрист"' title='Юридическая компания "VIP-юрист"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/vip-yurist/vip-yurist_h.png') }}) center no-repeat;'"></div>
                    </a></li>

                <li><a class="withImage" target="_blank" href="http://yagoda33.ru/" title='РПФ "Ягода"'><img
                                src="{{ asset('assets/img/portfolio/yagoda/yagoda.png') }}" alt='РПФ "Ягода"'
                                title='РПФ "Ягода"'>

                        <div class="abc"
                             style="background:url({{ asset('assets/img/portfolio/yagoda/yagoda_h.png') }}) center no-repeat;'"></div>
                    </a></li>

            </ul>
        </div>
        <!--~~~~~~~~~~~~~~~~~/portfolio~~~~~~~~~~~~~~~~~-->
    {% endblock %}

    {% block calculate %}
        <!--~~~~~~~~~~~~~~~~~calculate~~~~~~~~~~~~~~~~~-->
        <div class="calculate container" id="calculate">
            <div class="korpus" id="korpus">
                <h2>А сколько стоит сайт?</h2>
                <input type="radio" name="odin" checked="checked" id="vkl1"/><label for="vkl1"><a class="tab"
                                                                                                  title="Cайт-визитка">САЙТ-ВИЗИТКА</a></label>
                <input type="radio" name="odin" id="vkl2"/><label for="vkl2"><a class="tab" title="Интернет-магазин">ИНТЕРНЕТ-МАГАЗИН</a></label>
                <input type="radio" name="odin" id="vkl3"/><label for="vkl3"><a class="tab" title="Корпоративный сайт">КОРПОРАТИВНЫЙ
                        САЙТ</a></label>
                <input type="radio" name="odin" id="vkl4"/><label for="vkl4"><a class="tab" title="Landing-page">LANDING-PAGE</a></label>
                <!--~~~~~~~~~~~~~~~~~business card site calc~~~~~~~~~~~~~~~~~-->
                <div>
                    <form name="site_vizitka" bs-type='feedback' bs-action='{{ path('feed_calc_order') }}'>
                        <input type="hidden" name="site_type_name" value="Сайт-визитка"/>
                        <img src="{{ asset('assets/img/calc/dizayn_logo.png') }}" alt="Дизайн сайта"
                             title="Дизайн сайта">

                        <p class="zagolovok_h2">Дизайн сайта</p>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="gotoviy"
                                                           id="site_vizitka_gotoviy" checked><label
                                        for="site_vizitka_gotoviy">Готовый</label></div>
                            <div class="item">
                                <h3>Готовый дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="individualniy"
                                                           id="site_vizitka_individualniy"><label
                                        for="site_vizitka_individualniy">Индивидуальный</label></div>
                            <div class="item">
                                <h3>Индивидуальный дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_logotipa"
                                                              id="site_vizitka_razrabotka_logotipa"><label
                                        for="site_vizitka_razrabotka_logotipa">Разработка логотипа</label></div>
                            <div class="item">
                                <h3>Разработка логотипа</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_bannerov"
                                                              id="site_vizitka_razrabotka_bannerov"><label
                                        for="site_vizitka_razrabotka_bannerov">Разработка баннеров для
                                    слайдшоу</label><input type="text" id="site_vizitka_k" value="0"> шт.
                            </div>
                            <div class="item">
                                <h3>Разработка баннеров для слайдшоу</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <img src="{{ asset('assets/img/calc/kompl_logo.png') }}" alt="Комплектация"
                             title="Комплектация">

                        <p class="zagolovok_h2">Комплектация</p>

                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="mini" id="site_vizitka_mini"
                                                           checked><label for="site_vizitka_mini">Мини</label></div>
                            <div class="item">
                                <h3>Мини</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="standart"
                                                           id="site_vizitka_standart"><label
                                        for="site_vizitka_standart">Стандарт</label></div>
                            <div class="item">
                                <h3>Стандарт</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="rashirenniy"
                                                           id="site_vizitka_rashirenniy"><label
                                        for="site_vizitka_rashirenniy">Расширенный</label></div>
                            <div class="item">
                                <h3>Расширенный</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="copyright"
                                                              id="site_vizitka_copyright"><label
                                        for="site_vizitka_copyright">Копирайтинг</label><input type="text"
                                                                                               id="site_vizitka_k2"
                                                                                               value="0"> страниц
                            </div>
                            <div class="item">
                                <h3>Копирайтинг</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <input type="checkbox" id="site_vizitka_checkbox_spoyler"><label
                                for="site_vizitka_checkbox_spoyler" class="zagolovok_h2">Что входит в
                            предложение:</label>

                        <div id="spoyler">
                            <div id="site_vizitka_gotoviy_mini_dop">
                                <p class="text">1 страница и 4 вкладки (можно расширить до 6)</p>
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                            </div>
                            <div id="site_vizitka_gotoviy_standart_dop">
                                <p class="text">7 полноценных разделов (можно расширить бесплатно)</p>
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Фотогалерея"><img
                                            src="{{ asset('assets/img/dop/photo.png') }}" alt="Фотогалерея"
                                            title="Фотогалерея">

                                    <div></div>
                                    <span>Фотогалерея</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                            </div>
                            <div id="site_vizitka_gotoviy_rashireniy_dop">
                                <p class="text">7 полноценных разделов (можно расширить бесплатно)</p>
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Фотогалерея"><img
                                            src="{{ asset('assets/img/dop/photo.png') }}" alt="Фотогалерея"
                                            title="Фотогалерея">

                                    <div></div>
                                    <span>Фотогалерея</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Адаптивный дизайн"><img
                                            src="{{ asset('assets/img/dop/adaptive.png') }}" alt="Адаптивный дизайн"
                                            title="Адаптивный дизайн">

                                    <div></div>
                                    <span>Адаптивный дизайн</span></a>
                            </div>
                            <div id="site_vizitka_individualniy_rashireniy_dop">
                                <p class="text">Авторский дизайн без использования шаблонов</p>

                                <p class="text">Любой функционал (под любые даже самые безумные идеи)</p>
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Фотогалерея"><img
                                            src="{{ asset('assets/img/dop/photo.png') }}" alt="Фотогалерея"
                                            title="Фотогалерея">

                                    <div></div>
                                    <span>Фотогалерея</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Адаптивный дизайн"><img
                                            src="{{ asset('assets/img/dop/adaptive.png') }}" alt="Адаптивный дизайн"
                                            title="Адаптивный дизайн">

                                    <div></div>
                                    <span>Адаптивный дизайн</span></a>
                            </div>
                            <a class="vse_moduli" href="">Посмотреть все модули</a>

                            <div class="vsyo_vklucheno">
                                <div><img src="{{ asset('assets/img/ico_001.png') }}">Первичное наполнение Вашими
                                    материалами
                                </div>
                                <div><img src="{{ asset('assets/img/ico_002.png') }}">Система управления сайтом (CMS)
                                </div>
                                <div><img src="{{ asset('assets/img/ico_003.png') }}">Домен</div>
                                <div><img src="{{ asset('assets/img/ico_004.png') }}">Хостин</div>
                                <div><img src="{{ asset('assets/img/ico_005.png') }}">Реакция в поисковых системах</div>
                                <div><img src="{{ asset('assets/img/ico_006.png') }}">Подключение прямого городского
                                    номера (по желанию бесплатно)
                                </div>
                            </div>
                        </div>

                        <div class="forma_zakaza">
                            <p id="itogo">Итого: <span id="site_vizitka_cena" name="cena"></span> руб.</p>

                            <div class="checkbox_skidka">
                                <input type="checkbox" name="checkbox_skidka" id="site_vizitka_checkbox_skidka" checked>
                                <label for="site_vizitka_checkbox_skidka">
                                    СДЕЛАТЬ СКИДКУ 
                                    <span id="site_vizitka_skidka" name="skidka"></span>
                                    %
                                </label>
                            </div>
                            <p id="pri_zakaze_prodvigheniya">при заказе продвижения</p>
                            <img src="{{ asset('assets/img/name_ico.png') }}" class="vashe_imya_img"/>
                            <img src="{{ asset('assets/img/email_ico.png') }}" class="email_img"/>
                            <img src="{{ asset('assets/img/phone_ico.png') }}" class="phone_img"/>
                            <input type="text" name="name" placeholder="Ваше имя" required>
                            <br>
                            <input type="email" name="email" placeholder="Электронная почта" required>
                            <br>
                            <input type="tel" name="tel" placeholder="Телефон" required>
                            <br>
                            <input class="btn-podrobnee" data-loading-text="Отправляется запрос" type="submit" name="submit" id="submit"
                                   value="Заказать прямо сейчас">
                        </div>
                    </form>

                </div>
                <!--~~~~~~~~~~~~~~~~~/business card site calc~~~~~~~~~~~~~~~~~-->
                <!--~~~~~~~~~~~~~~~~~online shop calc~~~~~~~~~~~~~~~~~-->
                <div>
                    <form name="internet-magazin" bs-type='feedback' bs-action='{{ path('feed_calc_order') }}'>
                        <input type="hidden" name="site_type_name" value="Интернет-магазин"/>
                        <img src="{{ asset('assets/img/calc/dizayn_logo.png') }}" alt="Дизайн сайта"
                             title="Дизайн сайта">

                        <p class="zagolovok_h2">Дизайн сайта</p>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="gotoviy"
                                                           id="internet-magazin_gotoviy" checked><label
                                        for="internet-magazin_gotoviy">Готовый</label></div>
                            <div class="item">
                                <h3>Готовый дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="individualniy"
                                                           id="internet-magazin_individualniy"><label
                                        for="internet-magazin_individualniy">Индивидуальный</label></div>
                            <div class="item">
                                <h3>Индивидуальный дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_logotipa"
                                                              id="internet-magazin_razrabotka_logotipa"><label
                                        for="internet-magazin_razrabotka_logotipa">Разработка логотипа</label></div>
                            <div class="item">
                                <h3>Разработка логотипа</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_bannerov"
                                                              id="internet-magazin_razrabotka_bannerov"><label
                                        for="internet-magazin_razrabotka_bannerov">Разработка баннеров для
                                    слайдшоу</label><input type="text" id="internet-magazin_k" value="0"> шт.
                            </div>
                            <div class="item">
                                <h3>Разработка баннеров для слайдшоу</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <img src="{{ asset('assets/img/calc/kompl_logo.png') }}" alt="Комплектация"
                             title="Комплектация">

                        <p class="zagolovok_h2">Комплектация</p>


                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="katalog_bez_korzini"
                                                           id="internet-magazin_katalog_bez_korzini" checked><label
                                        for="internet-magazin_katalog_bez_korzini">Каталог без корзины</label></div>
                            <div class="item">
                                <h3>Каталог без корзины</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="katalog_s_korzinoy"
                                                           id="internet-magazin_katalog_s_korzinoy"><label
                                        for="internet-magazin_katalog_s_korzinoy">Каталог с корзиной</label></div>
                            <div class="item">
                                <h3>Каталог с корзиной</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="copyright"
                                                              id="internet-magazin_copyright"><label
                                        for="internet-magazin_copyright">Копирайтинг</label><input type="text"
                                                                                                   id="internet-magazin_k2"
                                                                                                   value="0"> страниц
                            </div>
                            <div class="item">
                                <h3>Копирайтинг</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <input type="checkbox" id="internet-magazin_checkbox_spoyler"><label
                                for="internet-magazin_checkbox_spoyler" class="zagolovok_h2">Что входит в
                            предложение:</label>

                        <div id="spoyler">
                            <div id="internet-magazin_gotoviy_katalog_bez_korzini_dop">
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Каталог товаров"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Каталог товаров"
                                            title="Каталог товаров">

                                    <div></div>
                                    <span>Каталог товаров</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Купить в 1 клик"'> <img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt='Модуль "Купить в 1 клик"' title='Модуль "Купить в 1 клик"'>

                                    <div></div>
                                    <span>Модуль "Купить в 1 клик"</span></a>
                                <a href="#q1" class="fancybox dop" title='Приём платежей на сайте "стандарт"'><img
                                            src="{{ asset('assets/img/dop/payment.png') }}"
                                            alt='Приём платежей на сайте "стандарт"'
                                            title='Приём платежей на сайте "стандарт"'>

                                    <div></div>
                                    <span>Приём платежей на сайте "стандарт"</span></a>
                            </div>
                            <div id="internet-magazin_gotoviy_katalog_s_korzinoy_dop">
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Каталог товаров"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Каталог товаров"
                                            title="Каталог товаров">

                                    <div></div>
                                    <span>Каталог товаров</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Купить в 1 клик"'> <img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt='Модуль "Купить в 1 клик"' title='Модуль "Купить в 1 клик"'>

                                    <div></div>
                                    <span>Модуль "Купить в 1 клик"</span></a>
                                <a href="#q1" class="fancybox dop" title='Приём платежей на сайте "стандарт"'><img
                                            src="{{ asset('assets/img/dop/payment.png') }}"
                                            alt='Приём платежей на сайте "стандарт"'
                                            title='Приём платежей на сайте "стандарт"'>

                                    <div></div>
                                    <span>Приём платежей на сайте "стандарт"</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Корзина"'><img
                                            src="{{ asset('assets/img/dop/cart.png') }}" alt='Модуль "Корзина"'
                                            title='Модуль "Корзина"'>

                                    <div></div>
                                    <span>Модуль "Корзина"</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Производители"'><img
                                            src="{{ asset('assets/img/dop/payment.png') }}" alt='Модуль "Производители"'
                                            title='Модуль "Производители"'>

                                    <div></div>
                                    <span>Модуль "Производители"</span></a>
                            </div>
                            <div id="internet-magazin_individualniy_dop">
                                <p class="text">Авторский дизайн без использования шаблонов</p>

                                <p class="text">Любой функционал (под любые даже самые безумные идеи)</p>
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Каталог товаров"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Каталог товаров"
                                            title="Каталог товаров">

                                    <div></div>
                                    <span>Каталог товаров</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Купить в 1 клик"'> <img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt='Модуль "Купить в 1 клик"' title='Модуль "Купить в 1 клик"'>

                                    <div></div>
                                    <span>Модуль "Купить в 1 клик"</span></a>
                                <a href="#q1" class="fancybox dop" title='Приём платежей на сайте "стандарт"'><img
                                            src="{{ asset('assets/img/dop/payment.png') }}"
                                            alt='Приём платежей на сайте "стандарт"'
                                            title='Приём платежей на сайте "стандарт"'>

                                    <div></div>
                                    <span>Приём платежей на сайте "стандарт"</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Корзина"'><img
                                            src="{{ asset('assets/img/dop/cart.png') }}" alt='Модуль "Корзина"'
                                            title='Модуль "Корзина"'>

                                    <div></div>
                                    <span>Модуль "Корзина"</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль "Производители"'><img
                                            src="{{ asset('assets/img/dop/payment.png') }}" alt='Модуль "Производители"'
                                            title='Модуль "Производители"'>

                                    <div></div>
                                    <span>Модуль "Производители"</span></a>
                                <a href="#q1" class="fancybox dop" title='Модуль акций, хитов продаж'><img
                                            src="{{ asset('assets/img/dop/hit.png') }}" alt='Модуль акций, хитов продаж'
                                            title='Модуль акций, хитов продаж'>

                                    <div></div>
                                    <span>Модуль акций, хитов продаж</span></a>
                            </div>
                            <a class="vse_moduli" href="">Посмотреть все модули</a>

                            <div class="vsyo_vklucheno">
                                <div><img src="{{ asset('assets/img/ico_001.png') }}">Первичное наполнение Вашими
                                    материалами
                                </div>
                                <div><img src="{{ asset('assets/img/ico_002.png') }}">Система управления сайтом (CMS)
                                </div>
                                <div><img src="{{ asset('assets/img/ico_003.png') }}">Домен</div>
                                <div><img src="{{ asset('assets/img/ico_004.png') }}">Хостин</div>
                                <div><img src="{{ asset('assets/img/ico_005.png') }}">Реакция в поисковых системах</div>
                                <div><img src="{{ asset('assets/img/ico_006.png') }}">Подключение прямого городского
                                    номера (по желанию бесплатно)
                                </div>
                            </div>
                        </div>

                        <div class="forma_zakaza">
                            <p id="itogo">Итого: <span id="internet-magazin_cena" name="cena"></span> руб.</p>

                            <div class="checkbox_skidka"><input type="checkbox" name="checkbox_skidka"
                                                                id="internet-magazin_checkbox_skidka" checked><label
                                        for="internet-magazin_checkbox_skidka">СДЕЛАТЬ СКИДКУ <span
                                            id="internet-magazin_skidka" name="skidka"></span>%</label></div>
                            <p id="pri_zakaze_prodvigheniya">при заказе продвижения</p>
                            <img src="{{ asset('assets/img/name_ico.png') }}" class="vashe_imya_img"/>
                            <img src="{{ asset('assets/img/email_ico.png') }}" class="email_img"/>
                            <img src="{{ asset('assets/img/phone_ico.png') }}" class="phone_img"/>
                            <input type="text" name="name" placeholder="Ваше имя" required>
                            <br>
                            <input type="email" name="email" placeholder="Электронная почта" required>
                            <br>
                            <input type="tel" name="tel" placeholder="Телефон" required>
                            <br>
                            <input class="btn-podrobnee" data-loading-text="Отправляется запрос" type="submit" name="submit" id="submit"
                                   value="Заказать прямо сейчас">
                        </div>
                    </form>
                </div>
                <!--~~~~~~~~~~~~~~~~~/online shop calc~~~~~~~~~~~~~~~~~-->
                <!--~~~~~~~~~~~~~~~~~corporate website calc~~~~~~~~~~~~~~~~~-->
                <div>
                    <form name="korparativniy-site" bs-type='feedback' bs-action='{{ path('feed_calc_order') }}'>
                        <input type="hidden" name="site_type_name" value="Корпоративный сайт"/>
                        <img src="{{ asset('assets/img/calc/dizayn_logo.png') }}" alt="Дизайн сайта"
                             title="Дизайн сайта">

                        <p class="zagolovok_h2">Дизайн сайта</p>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="gotoviy"
                                                           id="korparativniy-site_gotoviy" checked=""><label
                                        for="korparativniy-site_gotoviy">Готовый</label></div>
                            <div class="item">
                                <h3>Готовый дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="individualniy"
                                                           id="korparativniy-site_individualniy"><label
                                        for="korparativniy-site_individualniy">Индивидуальный</label></div>
                            <div class="item">
                                <h3>Индивидуальный дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_logotipa"
                                                              id="korparativniy-site_razrabotka_logotipa"><label
                                        for="korparativniy-site_razrabotka_logotipa">Разработка логотипа</label></div>
                            <div class="item">
                                <h3>Разработка логотипа</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_bannerov"
                                                              id="korparativniy-site_razrabotka_bannerov"><label
                                        for="korparativniy-site_razrabotka_bannerov">Разработка баннеров для
                                    слайдшоу</label><input type="text" id="korparativniy-site_k" value="0"> шт.
                            </div>
                            <div class="item">
                                <h3>Разработка баннеров для слайдшоу</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <img src="{{ asset('assets/img/calc/kompl_logo.png') }}" alt="Комплектация"
                             title="Комплектация">

                        <p class="zagolovok_h2">Комплектация</p>

                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="standart"
                                                           id="korparativniy-site_standart" checked><label
                                        for="korparativniy-site_standart">Стандарт</label></div>
                            <div class="item">
                                <h3>Стандарт</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="kompl" value="rashireniy"
                                                           id="korparativniy-site_rashireniy" checked><label
                                        for="korparativniy-site_rashireniy">Расширенный</label></div>
                            <div class="item">
                                <h3>Расширенный</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="copyright"
                                                              id="korparativniy-site_copyright"><label
                                        for="korparativniy-site_copyright">Копирайтинг</label><input type="text"
                                                                                                     id="korparativniy-site_k2"
                                                                                                     value="0"> страниц
                            </div>
                            <div class="item">
                                <h3>Копирайтинг</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <input type="checkbox" id="korparativniy-site_checkbox_spoyler"><label
                                for="korparativniy-site_checkbox_spoyler" class="zagolovok_h2">Что входит в
                            предложение:</label>

                        <div id="spoyler">
                            <div id="korparativniy-site_gotoviy_standart_dop">
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Фотогалерея"><img
                                            src="{{ asset('assets/img/dop/photo.png') }}" alt="Фотогалерея"
                                            title="Фотогалерея">

                                    <div></div>
                                    <span>Фотогалерея</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Многоуровневое меню"><img
                                            src="{{ asset('assets/img/dop/menu.png') }}" alt="Многоуровневое меню"
                                            title="Многоуровневое меню">

                                    <div></div>
                                    <span>Многоуровневое меню</span></a>
                            </div>
                            <div id="korparativniy-site_individualniy_dop">
                                <p class="text">Авторский дизайн без использования шаблонов</p>

                                <p class="text">Любой функционал (под любые даже самые безумные идеи)</p>
                                <a href="#q1" class="fancybox dop" title="Форма обратной связи"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Форма обратной связи"
                                            title="Форма обратной связи">

                                    <div></div>
                                    <span>Форма обратной связи</span></a>
                                <a href="#q1" class="fancybox dop" title="Новостная лента"><img
                                            src="{{ asset('assets/img/dop/news.png') }}" alt="Новостная лента"
                                            title="Новостная лента">

                                    <div></div>
                                    <span>Новостная лента</span></a>
                                <a href="#q1" class="fancybox dop" title="Фотогалерея"><img
                                            src="{{ asset('assets/img/dop/photo.png') }}" alt="Фотогалерея"
                                            title="Фотогалерея">

                                    <div></div>
                                    <span>Фотогалерея</span></a>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                            </div>
                            <a class="vse_moduli" href="">Посмотреть все модули</a>

                            <div class="vsyo_vklucheno">
                                <div><img src="{{ asset('assets/img/ico_001.png') }}">Первичное наполнение Вашими
                                    материалами
                                </div>
                                <div><img src="{{ asset('assets/img/ico_002.png') }}">Система управления сайтом (CMS)
                                </div>
                                <div><img src="{{ asset('assets/img/ico_003.png') }}">Домен</div>
                                <div><img src="{{ asset('assets/img/ico_004.png') }}">Хостин</div>
                                <div><img src="{{ asset('assets/img/ico_005.png') }}">Реакция в поисковых системах</div>
                                <div><img src="{{ asset('assets/img/ico_006.png') }}">Подключение прямого городского
                                    номера (по желанию бесплатно)
                                </div>
                            </div>
                        </div>

                        <div class="forma_zakaza">
                            <p id="itogo">Итого: <span id="korparativniy-site_cena" name="cena"></span> руб.</p>

                            <div class="checkbox_skidka"><input type="checkbox" name="checkbox_skidka"
                                                                id="korparativniy-site_checkbox_skidka" checked><label
                                        for="korparativniy-site_checkbox_skidka">СДЕЛАТЬ СКИДКУ <span
                                            id="korparativniy-site_skidka" name="skidka"></span>%</label></div>
                            <p id="pri_zakaze_prodvigheniya">при заказе продвижения</p>
                            <img src="{{ asset('assets/img/name_ico.png') }}" class="vashe_imya_img"/>
                            <img src="{{ asset('assets/img/email_ico.png') }}" class="email_img"/>
                            <img src="{{ asset('assets/img/phone_ico.png') }}" class="phone_img"/>
                            <input type="text" name="name" placeholder="Ваше имя" required>
                            <br/>
                            <input type="email" name="email" placeholder="Электронная почта" required>
                            <br/>
                            <input type="tel" name="tel" placeholder="Телефон" required>
                            <br/>
                            <input class="btn-podrobnee" data-loading-text="Отправляется запрос" type="submit" name="submit" id="submit"
                                   value="Заказать прямо сейчас">
                        </div>
                    </form>
                </div>
                <!--~~~~~~~~~~~~~~~~~/corporate website calc~~~~~~~~~~~~~~~~~-->
                <!--~~~~~~~~~~~~~~~~~landing-page calc~~~~~~~~~~~~~~~~~-->
                <div>
                    <form name="landing-page" bs-type='feedback' bs-action='{{ path('feed_calc_order') }}'>
                        <input type="hidden" name="site_type_name" value="Landing-page"/>
                        <img src="{{ asset('assets/img/calc/dizayn_logo.png') }}" alt="Дизайн сайта"
                             title="Дизайн сайта">

                        <p class="zagolovok_h2">Дизайн сайта</p>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="gotoviy"
                                                           id="landing-page_gotoviy" checked><label
                                        for="landing-page_gotoviy">Готовый</label></div>
                            <div class="item">
                                <h3>Готовый дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_radio"><input type="radio" name="dizayn" value="individualniy"
                                                           id="landing-page_individualniy"><label
                                        for="landing-page_individualniy">Индивидуальный</label></div>
                            <div class="item">
                                <h3>Индивидуальный дизайн</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_logotipa"
                                                              id="landing-page_razrabotka_logotipa"><label
                                        for="landing-page_razrabotka_logotipa">Разработка логотипа</label></div>
                            <div class="item">
                                <h3>Разработка логотипа</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="calc_checkbox"><input type="checkbox" name="razrabotka_bannerov"
                                                              id="landing-page_razrabotka_bannerov"><label
                                        for="landing-page_razrabotka_bannerov">Разработка баннеров для
                                    слайдшоу</label><input type="text" id="landing-page_k" value="0"> шт.
                            </div>
                            <div class="item">
                                <h3>Разработка баннеров для слайдшоу</h3>
                                <span class="price">Цена: 0 руб.</span>

                                <div style="clear: right;"></div>
                                <p class="opisanie">

                                </p>

                                <p class="opisanie">

                                </p>
                            </div>
                        </li>

                        <input type="checkbox" id="landing-page_checkbox_spoyler"><label
                                for="landing-page_checkbox_spoyler" class="zagolovok_h2">Что входит в
                            предложение:</label>

                        <div id="spoyler">
                            <div id="landing-page_gotoviy_dop">
                                <p class="text">Выбор из 40 различных авторских дизайнов</p>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Форма сбора контактов (лидов)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Форма сбора контактов (лидов)" title="Форма сбора контактов (лидов)">

                                    <div></div>
                                    <span>Форма сбора контактов (лидов)</span></a>
                                <a href="#q1" class="fancybox dop" title="Продающий копирайтинг для лендинга"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Продающий копирайтинг для лендинга"
                                            title="Продающий копирайтинг для лендинга">

                                    <div></div>
                                    <span>Продающий копирайтинг для лендинга</span></a>
                            </div>
                            <div id="landing-page_individualniy_dop">
                                <p class="text">Авторский дизайн без использования шаблонов</p>

                                <p class="text">Любой функционал (под любые даже самые безумные идеи)</p>
                                <a href="#q1" class="fancybox dop" title="Схема проезда Yandex (или Google)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Схема проезда Yandex (или Google)"
                                            title="Схема проезда Yandex (или Google)">

                                    <div></div>
                                    <span>Схема проезда Yandex (или Google)</span></a>
                                <a href="#q1" class="fancybox dop" title="Форма сбора контактов (лидов)"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Форма сбора контактов (лидов)" title="Форма сбора контактов (лидов)">

                                    <div></div>
                                    <span>Форма сбора контактов (лидов)</span></a>
                                <a href="#q1" class="fancybox dop" title="Продающий копирайтинг для лендинга"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}"
                                            alt="Продающий копирайтинг для лендинга"
                                            title="Продающий копирайтинг для лендинга">

                                    <div></div>
                                    <span>Продающий копирайтинг для лендинга</span></a>
                                <a href="#q1" class="fancybox dop" title="Онлайн-консультант"><img
                                            src="{{ asset('assets/img/dop/feedback.png') }}" alt="Онлайн-консультант"
                                            title="Онлайн-консультант">

                                    <div></div>
                                    <span>Онлайн-консультант</span></a>
                            </div>
                            <a class="vse_moduli" href="">Посмотреть все модули</a>

                            <div class="vsyo_vklucheno">
                                <div><img src="{{ asset('assets/img/ico_001.png') }}">Первичное наполнение Вашими
                                    материалами
                                </div>
                                <div><img src="{{ asset('assets/img/ico_002.png') }}">Система управления сайтом (CMS)
                                </div>
                                <div><img src="{{ asset('assets/img/ico_003.png') }}">Домен</div>
                                <div><img src="{{ asset('assets/img/ico_004.png') }}">Хостин</div>
                                <div><img src="{{ asset('assets/img/ico_005.png') }}">Реакция в поисковых системах</div>
                                <div><img src="{{ asset('assets/img/ico_006.png') }}">Подключение прямого городского
                                    номера (по желанию бесплатно)
                                </div>
                            </div>
                        </div>

                        <div class="forma_zakaza">
                            <p id="itogo">Итого: <span id="landing-page_cena" name="cena"></span> руб.</p>

                            <div class="checkbox_skidka"><input type="checkbox" name="checkbox_skidka"
                                                                id="landing-page_checkbox_skidka" checked><label
                                        for="landing-page_checkbox_skidka">СДЕЛАТЬ СКИДКУ <span id="landing-page_skidka"
                                                                                                name="skidka"></span>%</label>
                            </div>
                            <p id="pri_zakaze_prodvigheniya">при заказе продвижения</p>
                            <img src="{{ asset('assets/img/name_ico.png') }}" class="vashe_imya_img"/>
                            <img src="{{ asset('assets/img/email_ico.png') }}" class="email_img"/>
                            <img src="{{ asset('assets/img/phone_ico.png') }}" class="phone_img"/>
                            <input type="text" name="name" placeholder="Ваше имя" required>
                            <br>
                            <input type="email" name="email" placeholder="Электронная почта" required>
                            <br>
                            <input type="tel" name="tel" placeholder="Телефон" required>
                            <br>
                            <input class="btn-podrobnee" data-loading-text="Отправляется запрос" type="submit" name="submit" id="submit"
                                   value="Заказать прямо сейчас">
                        </div>
                    </form>
                </div>
                <!--~~~~~~~~~~~~~~~~~/landing-page calc~~~~~~~~~~~~~~~~~-->
            </div>
        </div>

        <!--~~~~~~~~~~~~~~~~~/calculate~~~~~~~~~~~~~~~~~-->
    {% endblock calculate %}

    {% block domain %}
        <!--~~~~~~~~~~~~~~~~~domain~~~~~~~~~~~~~~~~~-->
        <div class="domen">
            <h2>У каждого сайта должно быть имя!</h2>

            <p class="h2-dop">Придумайте его прямо сейчас и проверьте на занятость!</p>

            <div class="korpus">
                <div class="container">
                    <form>
                        <input type="text" placeholder="КОЛОР-НЬЮ.РФ" required>

                        <p class="result">Свободен</p>
                        <input type="submit" class="submit" name="submit" value="Проверить">

                        <div class="svoboden">Это имя свободно! Зарезервируйте его, пока не занял кто-то другой!<br/>Получите
                            доменное имя colornew.ru бесплатно при заказе сайта!<a href="#"
                                                                                   title="Заказать доменное имя"
                                                                                   class="btn-podrobnee">Заказать</a>
                        </div>
                        <div class="zanyat"></div>
                    </form>
                </div>
            </div>
        </div>
        <!--~~~~~~~~~~~~~~~~~/domain~~~~~~~~~~~~~~~~~-->
    {% endblock %}

    {% block homeimage %}
        <!--~~~~~~~~~~~~~~~~~home_image~~~~~~~~~~~~~~~~~-->
        <div class="home_image container">
            <div><p>Сайт-визитка<span>Быстрый старт бизнеса в Интернете</span><span>от <span>4 995</span> руб.</span>
                </p><a href="#" title="Сайт-визитка" class="btn-podrobnee">Получить консультацию</a></div>
            <div><p>Landing Page<span>Поток клиентов гарантирован</span><span>от <span>9 900</span> руб.</span></p><a
                        href="#" title="Landing Page" class="btn-podrobnee">Получить консультацию</a></div>
            <div><p>Корпоративный сайт<span>Представьте свою компанию всему миру</span><span>от <span>21 910</span> руб.</span>
                </p><a href="#" title="Корпоративный сайт" class="btn-podrobnee">Получить консультацию</a></div>
            <div><p>Интернет-магазин<span>Онлайн продажи доступны</span><span>от <span>9 995</span> руб.</span></p><a
                        href="#" title="Интернет-магазин" class="btn-podrobnee">Получить консультацию</a></div>
        </div>
    {% endblock %}
    <!--~~~~~~~~~~~~~~~~~/home_image~~~~~~~~~~~~~~~~~-->
    {% block blog %}
        <!--~~~~~~~~~~~~~~~~~blog~~~~~~~~~~~~~~~~~-->
        {{ include('AppBundle:Article:preview_list.html.twig', { 'entities': articles }) }}
        <!--~~~~~~~~~~~~~~~~~/blog~~~~~~~~~~~~~~~~~-->
    {% endblock blog %}
    <!--~~~~~~~~~~~~~~~~~/content~~~~~~~~~~~~~~~~~-->

{% endblock %}