{% extends 'default/index.html.twig' %}
{% block content %}
	<!--~~~~~~~~~~~~~~~~~banner~~~~~~~~~~~~~~~~~-->
        <div class="banner banner_promotion-of-sites banner_big">        	
        	<div class="container">
	        	<div class="banner_content">
	        		<h2>Продвижение сайта с гарантией</h2>
	        		<p>КАК МЫ РАБОТАЕМ:</p>
	        		<li>Бесплатно проводим аудит Вашего сайта и даем рекомендации по продвижению.</li>
	        		<li>Обговариваем список продвигаемых ключевых слов и заключаем договор.</li>
	        		<li>Если по окончанию работ, мы не продвинули Ваш сайт – возвращаем деньги!</li>
	        		<li>Сроки продвижения в ТОП от 4 до 6 месяцев (в зависимости от тематики сайта).</li>
	        		<a href="" class="btn-podrobnee">Узнать подробнее</a>
	        	</div>
	        </div>
	    </div>
	    <div class="banner banner_promotion-of-sites banner_small">
	    	<div class="container">
	        	<div class="banner_content">
	        		<h2>Продвижение сайта с гарантией</h2>
	        		<p>КАК МЫ РАБОТАЕМ:</p>
	        		<li>Бесплатно проводим аудит Вашего сайта и даем рекомендации по продвижению.</li>
	        		<li>Обговариваем список продвигаемых ключевых слов и заключаем договор.</li>
	        		<li>Если по окончанию работ, мы не продвинули Ваш сайт – возвращаем деньги!</li>
	        		<li>Сроки продвижения в ТОП от 4 до 6 месяцев (в зависимости от тематики сайта).</li>
	        		<a href="" class="btn-podrobnee">Узнать подробнее</a>
	        	</div>
	        </div>
	    </div>
	<!--~~~~~~~~~~~~~~~~~/banner~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~circle_steps~~~~~~~~~~~~~~~~~-->
		<div class="circle_steps container visible-lg">
			<div><img src="{{asset('assets/img/circle-1.png')}}"><p>Есть Вы и Ваша компания</p></div>
			<div></div>
			<div><img src="{{asset('assets/img/circle-2.png')}}"><p>Есть потенциальный<br>клиент который ищет<br>Вашу продукцию в интернете</p></div>
			<div></div>
			<div><img src="{{asset('assets/img/circle-3.png')}}"><p>Есть поисковая система</p></div>
			<div></div>
			<div><img src="{{asset('assets/img/circle-4.png')}}"><p>Есть мы!<br>И мы выведем Вас<br>на первые строчки</p></div>
		</div>
	<!--~~~~~~~~~~~~~~~~~/circle_steps~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~analytics~~~~~~~~~~~~~~~~~-->
		<div class="analytics container">
			<h2>Фиксированная стоимость<br>и гарантия возврата</h2>
			<h2>Аналитика</h2>
			<div class="col-lg-6">
				<img src="{{asset('assets/img/test_drive.png')}}">		
				<div>		
					<span class="h">Тест-драйв</span>
					<p>Аналитика тест-драйв покажет базовую техническую составляющую Вашего сайта на предмет очевидных ошибок мешающих продвижению сайта в поисковых системах.</p>
					<span>Сроки: 1 рабочий день</span>
				</div>
				<span class="stoimost">Стоимость: 0 руб.</span>
			</div>
			<div class="col-lg-6">
				<img src="{{asset('assets/img/mishen.png')}}">
				<div>
					<span class="h">Продвинутая</span>
					<p>В данной аналитике мы подробно изучаем Ваш сайт и сайты конкурентов, показываем сильные и слабые стороны, предлагаем мероприятия по устранению найденных замечаний, настраиваем грамотно счетчики посещаемости, регистрируем сайт в поисковых системах.</p>
					<span>Сроки: 1 рабочий день</span>
				</div>
				<span class="stoimost">Стоимость: 990 руб.</span>
			</div>
		</div>
	<!--~~~~~~~~~~~~~~~~~/analytics~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~packages~~~~~~~~~~~~~~~~~-->
		<div class="packages container">
			<div class="col-lg-4">
				<div class="blod">
					<img src="{{asset('assets/img/blod.png')}}">Mini
				</div>
				<div class="desc">
					<div class="h">ТОП-МИНИ</div>
					<p>Тариф идеально подходит для сайтов, имеющих среднюю конкуренцию в регионах</p>
					<li>Продвижение сайта по ключевым запросам со средней конкуренцией;</li>
					<li>Кол-во продвигаемых слов: 10</li>
					<li>Гарантия вывода в ТОП: да.</li>
				</div>
				<div class="cena">9 990 <span>р./мес.</span></div>
			</div>
			<div class="col-lg-4">
				<div class="blod">
					<img src="{{asset('assets/img/blod.png')}}">Standart
				</div>
				<div class="desc">
					<div class="h">ТОП-СТАНДАРТ</div>
					<p>Данный тариф подойдет, если Вы хотите расширить позиции по регионам, продвинуть ключевые слова с высокой конкуренцией запросов.</p>
					<li>Продвижение сайта по ключевым запросам, имеющим среднюю и высокую конкуренцию;</li>
					<li>Кол-во продвигаемых слов: 20</li>
					<li>Гарантия вывода в ТОП: да.</li>
				</div>
				<div class="cena">14 990 <span>р./мес.</span></div>
			</div>
			<div class="col-lg-4">
				<div class="blod">
					<img src="{{asset('assets/img/blod.png')}}">Max
				</div>
				<div class="desc">
					<div class="h">ТОП-МАКСИМАЛЬНЫЙ</div>
					<p>Данный тариф подойдет сайтам, которые нужно продвигать по городам-миллионникам, имеющим высокую конкуренцию и высокую заинтересованность аудитории.</p>
					<li>Продвижение сайта по ключевым запросам, имеющим среднюю и высокую конкуренцию, а также продвижение интернет-магазинов;</li>
					<li>Кол-во продвигаемых слов: 30</li>
					<li>Гарантия вывода в ТОП: да.</li>
				</div>
				<div class="cena">19 990 <span>р./мес.</span></div>
			</div>
		</div>
	<!--~~~~~~~~~~~~~~~~~/packages~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~konsultacia~~~~~~~~~~~~~~~~~-->
		<div class="konsultacia visible-lg visible-md">
			<div class="container">
				<span class="null"></span>
				<h2>Получите наше лучшее предложение!</h2>
				<a href="#" class="btn-podrobnee">Получить консультацию</a>
			</div>
		</div>
	<!--~~~~~~~~~~~~~~~~~/konsultacia~~~~~~~~~~~~~~~~~-->
	<!--~~~~~~~~~~~~~~~~~preim_prom~~~~~~~~~~~~~~~~~-->
		<div class="preim_prom container">
			<h2>Преимущества работы с нами<br>над продвижением Вашего сайта</h2>
			<div class="row">
				<div class="col-md-6">
					<li>Нет «скрытых» платежей, все строго оговорено – фиксированная стоимость работ + бюджет по ключевым словам на основе наших рекомендаций.</li>
					<li>Подробная статистика и отчет – Вы всегда будете в курсе, куда потратились деньги, а также каких позиций Вы добились.</li>
					<li>Даже если Вы ничего не знаете о продвижении, мы научим Вас! Мы часто проводим тренинги и обучающие семинары для клиентов.</li>
				</div>
				<div class="col-md-6">
					<li>Весь процесс продвижения сайта мы держим открытым – в любой момент Вы можете связаться с нами любым удобным для Вас способом (телефон, email, icq, skype) и получить ответы на любые вопросы, а также запросить статистику.</li>
					<li>Быстрый ответ даже в выходные и праздничные дни! Мы любим свою работу и контролируем позиции сайтов даже в выходные и праздничные дни. Ваш сайт «не упадет» за время новогодних и майских праздников.</li>
				</div>
				<p class="col-md-12">Не нужно платить за написание «SEO-текстов» для сайта, а<br>также за технические работы над улучшением внутренней<br>структуры для поисковых систем - все включено в стоимость!</p>
			</div>
		</div>
	<!--~~~~~~~~~~~~~~~~~/preim_prom~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~/content~~~~~~~~~~~~~~~~~-->
{% endblock %}